*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tel{
    body {
        font-family: 'Lato', sans-serif;
      }
      
      .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      
      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      }
}

.ilk{background-color: black;
    padding: 15px;
    .ilkiki{
        
        display: flex;
        justify-content: space-between;
        .sol{
            
            a{
                font-size: 14px;
                color: azure;
                text-decoration: none;
                margin-right: 10px;
                &:hover{
                    color: #b54321;;
                }
            }
           
        }
        .sag{
            
            i{
                width: 5%;
                color:#ffff;
                margin-left: 10px;
            }
        }
    }
}
.header{
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .sol{
        width: 10%;
        a{
            text-decoration: none;
            font-size: 40px;
            color: #ffff;
            span{
            color: brown;

            }
        }
    }
    .sag{display: flex;
        justify-content: end;
        width: 50%;
            a{
                float: left;
                font-size: 19px;
                color: azure;
                text-decoration: none;
                margin-right: 10px;
                &:hover{
                    color: #b54321;;
                }
            }
    }
}
.img{
    position: relative;
    padding: 0;

    img{
        width: 100%;
        height: 35%;
    }
   
    
    
    position: relative;
.overlay{
   
    background-color: black;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

}
.olll{
    .oll{
        .box{
            margin-top: 70px;
            margin-bottom: 50px;

            i{
                color: #333333;
                font-size: 60px;
                &:hover{
                    color: #b54321;
                }
                
            }
            h3{
                margin-top: 20px;
                margin-bottom: 15px;
                color: #4444;
                font-size: 17px;
            }
            hr{
                margin: auto;
                height: 2px;
                width: 30px;
                border: none;
                background-color: #b54321;
            }
            p{
                margin-top: 15px;
                font-size: 14px;
                color: #333333;
            }
        }
    }
}

.iki{
    .soll{
        width: 100%;
        img{
        filter: brightness(0.5);
            width: 100%;
            height: 100%;
        }
    }
    .sgg{  background-color: #333333;
        width: 100%;
        .sg{ 

        margin-left: 40px;
        h3{
            margin-top: 30px;
            color: antiquewhite;
            font-size: 23px;
        }
        p{
            margin-top: 15px;
            color: antiquewhite;
            font-size: 14px;
        }
        hr{
            
            height: 2px;
            width: 30px;
            border: none;
            background-color: #b54321;
        }
    }
}
 }
.on{ 
    .son{margin: 70px 0;
        .boxx{
            display: flex;
            &:hover{
                .sol{
                    i{
                        background-color: #b54321;
                    }
                }
            }
         .sol{
            width: 15%;
            i{
                transition: 0.4s;
                color: #ffffff;
                padding: 20px;
                background-color: #333333;
                border-radius: 10px;
            }
         }
         .sag{
             width: 85%;
             h3{
                 font-size: 17px;
                 color: #333333;

             }
             p{
                 font-size: 14px;
                 color: #333333;
             }
         }
        }
    }
}
.sil{
    .boxs{
        padding: 40px 30px;
        position: relative;
        h3{margin-left: 30px;
            margin-right: 30px;
            color: #d2d2d9;
            font-size: 20px;
        }
        p{
            color: #d2d2d9;
            font-size: 14px;
        }
        .get{
            b{
                color: #000000;
                opacity: 0.3;
                font-size: 100px;
                font-weight: 100;
                position: absolute;
                bottom: 0px;
                right: 10px;
            }
        }

    }
}
.tek{
    padding: 30px 0 ;
    h3{
        margin-top: 30px;
        color: #333333;
        font-size: 23px;
    }
    
    hr{
        
        height: 2px;
        width: 30px;
        border: none;
        background-color: #b54321;
    }
}

.imgs{
    .book{
        margin-bottom: 10px;
        &:hover{
            img{
                filter: brightness(0.4);
            }
            .text{
                opacity: 1;
            }
        }
        img{transition: 0.5s;
            width: 100%;
        }
        position: relative;
    }
    .text{
        transition: 0.5s;
        opacity: 0;
        position: absolute;
        top: 45px;
        left: 30px;
        h3{
            margin-top: 30px;
            color: antiquewhite;
            font-size: 23px;
        }
        p{
            margin-top: 15px;
            color: antiquewhite;
            font-size: 14px;
        }
        hr{
            
            height: 2px;
            width: 30px;
            border: none;
            background-color: #b54321;
        }
    }
}
.al{
    background-color: #333333;
    .hr{
        padding: 60px 0;
        h3{margin: 30px 0 ;
            margin-top: 30px;
            color: rgb(0, 0, 0);
            font-size: 23px;
        }
        
        hr{
            margin: auto;
            height: 2px;
            width: 30px;
            border: none;
            background-color: #b54321;
    
        }   
    }
    .boxxs{ 
        padding: 80px 0;
        .boxx{
            &:hover{
                img{ 
                    filter: brightness(0.4);
                }
                .texts{
                    opacity: 1;
                }
            }
            position: relative;
            img{
                transition: 0.6s;
            }
            .texts{
                transition: 0.6s;
                opacity: 0;
                position: absolute;
                left: 25px;
                top: 40px;
                h3{
                    margin-top: 30px;
                    color: antiquewhite;
                    font-size: 18px;
                }
                p{
                    margin-top: 15px;
                    color: antiquewhite;
                    font-size: 12px;
                }
                hr{
                    
                    height: 2px;
                    width: 30px;
                    border: none;
                    background-color: #b54321;
                }
            }
        }
    } 
    .cox{
        .az{
            .iz{
                img{
                    transition: 0,6s;
                }
                margin-bottom: 40px;
                &:hover{
                    img{
                        transition: 0.5s;
                        filter: contrast(0.2);
                    }
                }
            }
        }
    } 
.ana{
    .ag{
        background-color: #ffffff;
        p{
            margin-top: 60px;
            margin-left: 50px;
            font-size: 14px;
            color: #888899;
        }
    }
    .qara{
        h3{
            margin-top: 30px;
            color: antiquewhite;
            font-size: 18px;
        }
        p{
            margin-top: 15px;
            color: antiquewhite;
            font-size: 12px;
        }
        hr{
            
            height: 2px;
            width: 30px;
            border: none;
            background-color: #b54321;
        }
    }
}
}
.sonn{
    margin-top: 90px ;
    margin-bottom: 70px ;
    .coll{
        .bar{background-color: #b54321;
            padding: 40px 30px;
            h3{
                font-size: 20px;
                color: #ffffff;
            }
            p{
                margin-top: 20px;
                font-size: 14px;
                color: #ffffff;
            }
        }
        .bat{
            padding: 40px 30px;
            h3{
                font-size: 20px;
                color: #000000;
            }
            p{
                margin-top: 20px;
                font-size: 14px;
                color: #000000;
            }
            hr{
            
                height: 2px;
                width: 30px;
                border: none;
                background-color: #b54321;
            }
        }
    }
}










@media (max-width: 800px) {
    .float-sm-left {
      float: left !important;
    }
    .float-sm-right {
      float: right !important;
    }
    .float-sm-none {
      float: none !important;
    }
.img{
    .text{
        h1{
        
            font-size: 40px;
            
        }
        h2{
    
            font-size: 40px;
            
        }
    }

}
.header{
    display: none;
}
.tel{
    display: block;
}
.oll{
    .iki{
        .uc{
        .sag{
            .b{
                margin-top: 50px;
            }
        }    
        }
    }
}

  }

  @media (min-width: 800px) {
    .float-sm-left {
      float: left !important;
    }
    .float-sm-right {
      float: right !important;
    }
    .float-sm-none {
      float: none !important;
    }
     .tel{
         display: none;
     }
    
  }
  @media (min-width: 800px) {
    .float-sm-left {
      float: left !important;
    }
    .float-sm-right {
      float: right !important;
    }
    .float-sm-none {
      float: none !important;
    }
     
    @media (min-width: 800px) {
        .float-sm-left {
          float: left !important;
        }
        .float-sm-right {
          float: right !important;
        }
        .float-sm-none {
          float: none !important;
        }
         .tel{
             display: none;
         }
         
      }
  }















